<div class="card">
    <div class="card-header text-secondary">
        <a class="link-secondary text-decoration-none" href="{% url 'posts:post' post.pk %}">
            <i> Title:</i><b> {{post}}.</b>
        </a>
        <a class="link-secondary text-decoration-none text-end" href="{% url 'posts:follow_w' post.author.pk %}">
            <i> by </i> <b> {{post.author | title }}. </b>
        </a>

    </div>
    <div class="card-body">

        {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image" style="width:50%">
        {% endif %}

        <p class="card-text">Text: {{post.text}}</p>

    </div>
    <div class="card-footer text-muted">
        Created date: {{post.created}} ||| <b>{{post.author.follow.count}}</b> followers.
        <a class="btn btn-outline-success" href="{% url 'posts:post' post.pk %}"> {{ post.like.count }} likes</a>
    </div>
</div>
<br>
