{% extends 'account/base.html' %}

{% block center %}

<h3 class="text-success">
   <b> Only followed users Posts:</b>
</h3>
{% for item in list %}

<div class="card">
    <div class="card-header text-secondary">
            <a class="link-secondary text-decoration-none" href="{% url 'posts:post' item.pk %}">
              <i> Title:</i><b> {{item}}.</b> 
            </a>
            <a class="link-secondary text-decoration-none text-end" href="{% url 'posts:followw' item.author.pk %}">
               <i> by </i> <b> {{item.author | title }}. </b>
            </a>

    </div>
    <div class="card-body">

        {% if item.image %}
        <img class="card-img-top" src="{{ item.image.url }}" alt="Card image" style="width:50%">
        {% endif %}

        <p class="card-text">Text: {{item.text}}</p>

    </div>
    <div class="card-footer text-muted">
        Created date: {{item.created}}  ||| <b>{{item.author.follow.count}}</b> followers. 
    </div>
</div>

<hr class="collor:green p-2">

    {%empty%}
<h3>
    No list
</h3>
{% endfor %}


{% endblock %}