{% extends 'account/base.html' %}


{% block center %}


{% if twitter_list %}
<h1>
    User's Who Followed Me:
</h1>

{% for tt in twitter_list %}
    <div class="author-div">
        <i class="bi bi-person-circle"></i> {{ tt.followed }} - pk_{{  tt.followed.pk }} 
        <a href="{% url 'posts:following' tt.follow.pk %}" class="single-category btn btn-warning">
            Delete Follower!
        </a>
    </div>


<br><hr><hr><br>

    {%endfor%}
    
{%else%}
<h2>
    No Followed Persons

</h2>
{%endif%}

    {% endblock %}