{% extends 'account/base.html' %}

{% block center %}
<br>
<h2>
    Post detail Page:
</h2>
<br>

<p class="card-text">Author: {{ post.author }}</p>

<!-- აქ გვინდა რომ follow/unfollow მუშაობდეს -->
{% if user.is_authenticated and follow  %}
<form action="{% url 'posts:follow' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="follow" value="{{post.author.pk}}">
  <input class="btn btn-secondary" type="submit" value="Follow">
  
</form>
{% else %}
<form action="{% url 'posts:unfollow' post.author.pk %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="follow" value="{{post.author.pk}}">
  <input class="btn btn-secondary" type="submit" value="UnFollow">
</form>
{% endif %}

<h4 class="card-title">{{ post.title }}

    </h4>


        <div class="card" style="width:300px">
          {% if post.image %}
          <img class="card-img-top" src="{{ post.image.url }}" alt="Card image" style="width:100%">
          {% endif %}
          <div class="card-body">
            <p class="card-text">Text:</p>
            <p class="card-text">{{ post.text }}</p>
            
            <p class="card-text">Author: {{ post.author }}</p>
            <p class="card-text">Created: {{ post.created | date:"SHORT_DATE_FORMAT" }}</p>
          </div>
        </div>
        <br>
        {% if request.user == post.author %}
        <div class="container">
            <p>
                <a class="btn btn-warning" href="{% url 'posts:post_update' pk=post.pk %}">Update</a>
         
                <a class="btn btn-danger" href="{% url 'posts:post_delete' pk=post.pk %}">Delete</a>
            </p>
        </div>
        
{% endif %}

{% endblock %}