{% extends 'account/base.html' %}

{% block center %}
  <br>
  <h2>
    Post detail Page:
  </h2>
  <p class="card-text">Author: {{ post.author }}</p>
  <!-- there need work - follow/unfollow -->
  {% if request.user != post.author %}

    {% if user.is_authenticated and follow %}

      <form action="{% url 'posts:follow' post.author.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="follow" value="{{post.author.pk}}">
        <input class="btn btn-secondary" type="submit" value="Follow">
      </form>

    {% elif user.is_authenticated %}

      <form action="{% url 'posts:unfollow' post.author.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="follow" value="{{post.author.pk}}">
        <input class="btn btn-secondary" type="submit" value="UnFollow">
      </form>

    {% endif %}

  {% endif %}
  
  <br>
{% include 'posts/_form.html' %}

  <div class="card-footer text-muted">
    {% if liked %}
    <a class="btn btn-sm btn-outline-success" href="{% url 'posts:like' post.pk %}"> Like</a>
    <i>{{post.like.count }} likes</i>
    {% else %}
    <a class="btn btn-sm btn-outline-danger" href="{% url 'posts:unlike' post.pk %}">Unlike</a>
    <i>{{post.like.count }} likes</i>
    {% endif %}
  </div>
  <hr><hr><hr>
  {% if request.user == post.author %}
  <div class="container">
    <p>
      <a class="btn btn-danger" href="{% url 'posts:post_delete' pk=post.pk %}">Delete</a>
      <a class="btn btn-warning" href="{% url 'posts:post_update' pk=post.pk %}">Update</a>
    </p>
  </div>
  <hr class="color: green p-2">

  {% endif %}

  {% if post.comments.all %}
  <h5 class="text-warning">
    Comments:
  </h5>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Text</th>
        <th scope="col">Author</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      {% for i in post.comments.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{i.text}} </td>
        <td>{{i.writer}}</td>
        <td>{{i.mes_created | date:"SHORT_DATE_FORMAT" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <h6>
    Add comment:
  </h6>
  <form action="{% url 'posts:comment_new' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post_pk" value="{{ post.pk }}">
    {{ form_c.as_p }}
    <input type="submit" value="Comment">
  </form>

<!-- <a href="{% url 'posts:comment_new' %}">Create Comment</a> -->
{% endblock %}