<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'userview:home' %}">Home</a>
          {% if user.is_authenticated %}
          <a class="nav-link active" href="{% url 'logout' %}">LogOut</a>
          <a class="nav-link active" href="{% url 'userview:dashboard' %}">{{user}}</a>
          {% else %}
          <a class="nav-link active" href="{% url 'login' %}">Log In</a>
          <a class="nav-link active" href="{% url 'userview:register' %}">Register</a>
          {% endif %}
          <a class="nav-link active" href="{% url 'userview:other' %}">Other</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>