<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- თუ ინტერნეტი არაა, static-ში გვაქვს bootstrap5.css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        {% include 'account/navbar.html' %}
        <div class="row">
            <!-- გვერდის მარცხენა მხარე. დამატებითი მენიუ: followed, following, user personal page... -->
            <div class="col-3">
                <div class="container">
                    {% block left %}
                    <h1 class="text-primary">
                        <b>
                            Giter
                        </b>
                    </h1>
                    <a href="{% url 'posts:twitter' %}">
                        <div class='btn d-flex p-2 m-3 border border-5 border-primary rounded-pill bd-highlight shadow'>
                            <i class="bi-shop px-2"></i>Followers
                        </div>
                    </a>
                    <a href="{% url 'posts:followed' %}">
                        <div class='btn d-flex p-2 m-3 border border-5 border-secondary rounded-pill bd-highlight shadow'>
                            <i class="bi-alarm px-2"></i>UnFollow
                        </div>
                    </a>
                    <a href="{% url 'posts:user_page'  %}">
                        <div class='btn d-flex p-2 m-3 border border-5 border-dark rounded-pill bd-highlight shadow'>
                            <i class="bi-volume-mute-fill px-2"></i></i> Profile
                        </div>
                    </a>
                    <a href="{% url 'posts:user_page' %}">
                        <div class='btn d-flex p-2 m-3 border border-5 border-warning rounded-pill bd-highlight shadow'>
                            <i class="bi-github px-2"></i>Messages
                        </div>
                    </a>
                    <a href="{% url 'posts:user_page' %}">
                        <div class='btn d-flex p-2 m-3 border border-5 border-info rounded-pill bd-highlight shadow'>
                            <i class="bi-alarm px-2"></i>Lists
                        </div>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'posts:user_info' user.pk %}">
                        <div class='btn d-flex p-2 m-3 border border-5 border-success rounded-pill bd-highlight shadow'>
                            <i class="bi-exclamation-triangle px-2"></i> Personal info
                        </div>
                    </a>
                    {%endif%}
                    {% endblock %}
                </div>
            </div>

            <div class="col-6">
                <div class="container">

                    {% block center %}

                    {% endblock %}
                </div>
            </div>

            <div class="col-3">

                {% if user.is_authenticated %}
                <div class="container">
                    {% block right %}
                    <br>
                    {% if u_message %}
                    <h4 class="text-danger">

                        {{u_message}}
                    </h4>
                    {%endif%}
                    <br>
                    <form class="d-flex" method="GET" action="{% url 'posts:posts' %}">
                        <input class="form-control me-2" type="search" name="u_search" value="{{ request.GET.u_search }}"
                            placeholder="Search in Users" aria-label="Search">
                        <button class="btn btn-outline-success create-button" type="submit" name="action">Search</button>
                    </form>

                    <br>
                    
                    <h3 class="p-3">
                        <b>
                            Trends for you!
                        </b>
                    </h3>
                    {% for u in links %}
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="#"> {{ u.username }}
                            <form class="d-inline-block" action="{% url 'posts:follow' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="follow" value="{{ u.pk }}">
                                <!-- აქ გვინდა რომ follow/unfollow მუშაობდეს -->
                                <input class="btn btn-sm btn-secondary" type="submit" value="Follow">
                            </form>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                        {% endfor %}
                        <br>
                        <br>
                    </div>
                    <br>
                    <hr>
                    <h3 class="p-3">
                        <b> Who to follow</b>
                    </h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">First item</a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                        <a href="#" class="list-group-item list-group-item-action">Second item</a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                        <a href="#" class="list-group-item list-group-item-action">Third item</a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                    </div>

                    {% endblock %}
                </div>
                {%else%}
                <br><br>
                <h2 class="text-danger">

                    Login first, to follow!
                </h2>
                {%endif%}
            </div>
        </div>
    </div>
</body>

</html>