{% extends 'account/base.html' %}

{% block center %}

<h2>
    About Us.
</h2>
{% endblock %}

{% block right %}
<br>
<h3>
    Right:
</h3>
<br>
                    {% if u_message %}
                    <h4 class="text-danger">
                        {{u_message}}
                    </h4>
                    {%endif%}
                    <br>
                    <!-- search button -->
                    <form class="d-flex" method="GET" action="{% url 'posts:posts' %}">
                        <input class="form-control me-2" type="search" name="u_search" value="{{ request.GET.u_search }}"
                            placeholder="Search in Users" aria-label="Search">
                        <button class="btn btn-outline-success create-button" type="submit" name="action">Search</button>
                    </form>

                    <br>
                    
                    <h3 class="p-3">
                        <b>
                            Trends for you!
                        </b>
                    </h3>
                    {% for u in hlinks %}
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="#"> {{ u.username }}
                            <p>

                                <a class="list-group-item list-group-item-action" href="#"> {{ u.author.all }}</a>
                            </p>
                                <form class="d-inline-block" action="{% url 'posts:follow' u.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="follow" value="{{ u.pk }}">
                                <!-- follow/unfollow -->
                                <input class="btn btn-sm btn-secondary" type="submit" value="Follow">
                            </form>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                        {% endfor %}
                        <br>
                        <br>
                    </div>
                    <br>
                    <hr>
                    <h3 class="p-3">
                        <b> Who to follow</b>
                    </h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">First item</a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                        <a href="#" class="list-group-item list-group-item-action">Second item</a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                        <a href="#" class="list-group-item list-group-item-action">Third item</a>
                        <a href="#" class="list-group-item list-group-item-action"></a>
                    </div>
{% endblock %}